*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;

}

header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1)), url('../img/tour.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 100%;
	height: 15vh;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	
}

nav .logo{
	width: 25%;
	text-align: center;
	cursor: pointer;

}

nav .menu{
	width: 40%;
	display: flex;
	justify-content: space-around;

}

nav .menu a{
	text-decoration: none;
	width: 25%;
	color: white;
	font-weight: bold;
	cursor: pointer;
}


nav .menu a:first-child{

	color: #00b894
	;
}
nav .menu a:hover{
	color: aqua;
	cursor: pointer;
	
	
	
}
main{
	width: 100%;
	height: 85vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}
section{

}
section h3{
	font-size: 35px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

section h1{
	font-size: 50px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
	margin: 30px 0px 20px 0px;
}

section p{
	font-size: 25px;
	word-spacing: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 2px black;
}

section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .8s ease;

}
section .btnone{
	background-color: #fff;
	color: #000;
}
.btnone:hover{
	background-color:  #00b894;
	color: #ffffff;
}
section .btntwo{
	background-color:  #00b894;
	color: #ffffff;
}
.btntwo:hover{
	background-color: #fff;
	color: #000;
}
.chng_contnt:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #00b894 ;
	cursor: pointer;

}
@keyframes changetext{
	0%{content: "Mumbai";}
	20%{content: "Delhi";}
	40%{content: "Chennai";}
	60%{content: "Kolkata";}
	80%{content: "Darjeeling";}
	100%{content: "Kerala";}
}
 